<div>
  <h2 id="page-heading" data-cy="CompetitionProblemHeading">
    <span jhiTranslate="arenaApp.competitionProblem.home.title">Competition Problems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="arenaApp.competitionProblem.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-competition-problem"
        [routerLink]="['/competition-problem/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="arenaApp.competitionProblem.home.createLabel"> Create a new Competition Problem </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="competitionProblems?.length === 0">
    <span jhiTranslate="arenaApp.competitionProblem.home.notFound">No Competition Problems found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="competitionProblems && competitionProblems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="order">
            <div class="d-flex">
              <span jhiTranslate="arenaApp.competitionProblem.order">Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="problem.id">
            <div class="d-flex">
              <span jhiTranslate="arenaApp.competitionProblem.problem">Problem</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="competition.id">
            <div class="d-flex">
              <span jhiTranslate="arenaApp.competitionProblem.competition">Competition</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competitionProblem of competitionProblems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/competition-problem', competitionProblem.id, 'view']">{{ competitionProblem.id }}</a>
          </td>
          <td>{{ competitionProblem.order }}</td>
          <td>
            <div *ngIf="competitionProblem.problem">
              <a [routerLink]="['/problem', competitionProblem.problem.id, 'view']">{{ competitionProblem.problem.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="competitionProblem.competition">
              <a [routerLink]="['/competition', competitionProblem.competition.id, 'view']">{{ competitionProblem.competition.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/competition-problem', competitionProblem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/competition-problem', competitionProblem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(competitionProblem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="competitionProblems && competitionProblems.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
